## Section 1 - Business Understading
### Analysis on Paper BM - Corruption dataset

### Goal
#### 1- Understand if sanctions imposed by the FCPA have any effect on the perception of corruption in a country

In [5]:
#Import datasets and libraries
import pandas as pd
import numpy as np

df_bm = pd.read_excel('FCPA Enforcement - Paper BM.xlsx')
df_cor = pd.read_excel('wgidataset.xlsx', sheet_name = 'ControlofCorruption', skiprows = 12)

### Data Understanding
##### df_bm - Dataset containing the name of the process, which countries where involved, the total value of sanctions, the case status and date.
##### df_cor - Corruption dataset, for each country has a rank of how much corruption is perceived.

In [12]:
df_bm.head()

,Name,Country,Region,Total Sanction,Proportionized LATAM Sanction,Case Status,Date Resolved,Year RESOLVED
0,Securities and Exchange Commission v. Ashland ...,Oman,MiddleEast,0,NaN,Resolved,1986-07-08 00:00:00,1986.0
1,United States of America v. Goodyear Internati...,Iraq,MiddleEast,250000,NaN,Resolved,1989-05-11 00:00:00,1989.0
2,"United States of America v. Young & Rubicam, I...",Jamaica,LatinAmerica,500000,NaN,Ongoing,1990-02-09 00:00:00,1990.0
3,"United States of America v. John Blondek, et al.",Canada,NorthAmerica,0,NaN,Resolved,1990-03-15 00:00:00,1990.0
4,United States of America v. George V. Morton,Canada,NorthAmerica,550,NaN,Resolved,1990-03-14 00:00:00,1990.0

In [13]:
#The bm dataset is mostly ok, however some processes involved multiple countris, so it is necessary to split them. Like in the example below
df_bm['Country'] = df_bm['Country'].str.split(',')
df_bm = df_bm.explode('Country').reset_index(drop = True)
df_bm.loc[39:43, :]

,Name,Country,Region,Total Sanction,Proportionized LATAM Sanction,Case Status,Date Resolved,Year RESOLVED
39,Securities and Exchange Commission v. Syncor I...,Belgium,"Asia-Pacific,LatinAmerica,WesternEurope",500000,NaN,Resolved,2002-11-30 00:00:00,2002.0
40,Securities and Exchange Commission v. Syncor I...,France,"Asia-Pacific,LatinAmerica,WesternEurope",500000,NaN,Resolved,2002-11-30 00:00:00,2002.0
41,Securities and Exchange Commission v. Syncor I...,Luxembourg,"Asia-Pacific,LatinAmerica,WesternEurope",500000,NaN,Resolved,2002-11-30 00:00:00,2002.0
42,Securities and Exchange Commission v. Syncor I...,Mexico,"Asia-Pacific,LatinAmerica,WesternEurope",500000,NaN,Resolved,2002-11-30 00:00:00,2002.0
43,Securities and Exchange Commission v. Syncor I...,Taiwan,"Asia-Pacific,LatinAmerica,WesternEurope",500000,NaN,Resolved,2002-11-30 00:00:00,2002.0

In [8]:
df_cor.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
0,NaN,NaN,1996,1996,1996,1996,1996,1996,1998,1998,...,2017,2017,2017,2017,2018,2018,2018,2018,2018,2018
1,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,87.980766,79.807693,92.307693,1.252027,0.28267,2,87.019234,79.32692,92.307693
3,Andorra,ADO,1.318143,0.480889,1,87.096771,72.043015,96.774193,1.377704,0.461773,...,1,86.53846,70.67308,95.192307,1.238614,0.402382,1,86.53846,71.153847,94.71154
4,Afghanistan,AFG,-1.291705,0.340507,2,4.301075,0,27.419355,-1.180848,0.330179,...,10,3.846154,0,9.615385,-1.496648,0.157296,10,4.326923,0,9.615385

In [15]:
#The corruption dataset is harder to deal with for a couple of reasons:
# 1- The column names are useless
# 2- The years should be a single column (which would help with naming the columns as well)

def clean_corruption(dataframe, first_column, last_column):
    '''
    This function set the year as a single column for every country, it only works for a single year.
    INPUT:
    dataframe(df) - initial dataframe
    first_column(int) - number of the first column with year
    last_column(int) - last column with same year. normal is first_column +6. eg, columns with 1996
    
    OUTPUT - dataframe organized for a especific year

    '''    
    df = dataframe.iloc[:,np.r_[:2, first_column:last_column]]
    df.columns = ['Country/Territory','Code','Estimate','StdErr','NumSrc','Rank','Lower','Upper']
    year = int(df.iloc[0,2])
    df = df.drop([0,1])
    df.insert(2,'Year', year)
    
    return df
#Since every set of years has 6 columns, with the correct range and the clean_corruption function, the df_cor (now just df) dataset becomes much cleaner
df = clean_corruption(df_cor,2,8)
for a in range(8,122,6):
    df_temp = clean_corruption(df_cor,a,a+6)
    df = pd.concat([df, df_temp])
df.head()

,Country/Territory,Code,Year,Estimate,StdErr,NumSrc,Rank,Lower,Upper
2,Aruba,ABW,1996,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,ADO,1996,1.318143,0.480889,1,87.096771,72.043015,96.774193
4,Afghanistan,AFG,1996,-1.291705,0.340507,2,4.301075,0,27.419355
5,Angola,AGO,1996,-1.167702,0.262077,4,9.67742,0.537634,27.419355
6,Anguilla,AIA,1996,NaN,NaN,NaN,NaN,NaN,NaN

##### To better understand both datasets, a few questions can be analyzed:
##### Which country has the highest number of processes
##### Which country has the highest sanction imposed
##### Who improved the most over the years.

In [22]:
#These are the 10 most processed countries by the FCPA
df_bm['Country'].value_counts().nlargest(10)

China          101
Nigeria         57
Mexico          51
Iraq            49
Indonesia       44
Venezuela       43
Brazil          41
India           35
Russia          32
SaudiArabia     28
Name: Country, dtype: int64

In [31]:
#These are the top 10 countries with the highest sanctions imposed
df_bm.groupby('Country')['Total Sanction'].sum().sort_values(ascending=False).nlargest(10)

Country
Brazil               8600508682
China                7367464480
Mexico               4446281688
Venezuela            4228535209
Angola               4115276162
Argentina            3103231531
Uzbekistan           2924374426
Mozambique           2810115058
DominicanRepublic    2810025792
Nigeria              2802805554
Name: Total Sanction, dtype: int64

In [34]:
#And these are the highest single sanctions imposed
df_bm.sort_values('Total Sanction', ascending=False).head(10)

,Name,Country,Region,Total Sanction,Proportionized LATAM Sanction,Case Status,Date Resolved,Year RESOLVED
1095,United States of America v. Airbus SE,China,Asia-Pacific,3988916034,NaN,Resolved,2020-01-31 00:00:00,2020.0
825,United States of America v. Odebrecht S.A.,Brazil,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
830,United States of America v. Odebrecht S.A.,Mexico,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
823,United States of America v. Odebrecht S.A.,Angola,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
827,United States of America v. Odebrecht S.A.,DominicanRepublic,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
828,United States of America v. Odebrecht S.A.,Ecuador,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
824,United States of America v. Odebrecht S.A.,Argentina,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
829,United States of America v. Odebrecht S.A.,Guatemala,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
831,United States of America v. Odebrecht S.A.,Mozambique,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0
832,United States of America v. Odebrecht S.A.,Panama,"Africa,LatinAmerica",2600000400,NaN,Resolved,2016-12-21 00:00:00,2016.0

In [12]:
df.loc[df['Country/Territory']=='Brazil']

,Country/Territory,Code,Year,Estimate,StdErr,NumSrc,Rank,Lower,Upper
30,Brazil,BRA,1996,-0.01858,0.210325,6,56.989246,44.086021,63.440861
30,Brazil,BRA,1998,0.075473,0.184632,7,58.762886,48.96907,67.525772
30,Brazil,BRA,2000,0.040204,0.18882,7,58.883247,47.208122,65.989845
30,Brazil,BRA,2002,0.081059,0.173801,8,60.60606,49.494949,68.181816
30,Brazil,BRA,2003,0.091483,0.165296,9,61.111111,52.020203,69.191917
30,Brazil,BRA,2004,0.023013,0.151464,11,56.585365,50.243904,62.92683
30,Brazil,BRA,2005,-0.139791,0.15242,11,52.682926,42.92683,58.048782
30,Brazil,BRA,2006,-0.109042,0.142457,15,54.146343,42.439026,60
30,Brazil,BRA,2007,-0.075929,0.149386,14,55.339806,47.087379,60.194176
30,Brazil,BRA,2008,0.00789,0.146607,14,59.223301,50.485435,63.106796
30,Brazil,BRA,2009,-0.069309,0.150134,15,56.459332,45.454544,62.679424
30,Brazil,BRA,2010,0.04628,0.150904,16,60,52.857143,64.285713
30,Brazil,BRA,2011,0.165902,0.141233,17,63.033176,55.924171,68.246445
30,Brazil,BRA,2012,-0.037277,0.133203,16,58.293839,49.763035,62.559242
30,Brazil,BRA,2013,-0.08471,0.13344,16,55.924171,46.445499,62.085308
30,Brazil,BRA,2014,-0.338455,0.131622,13,46.634617,34.134617,52.884617
30,Brazil,BRA,2015,-0.396489,0.131494,13,42.78846,31.25,52.884617
30,Brazil,BRA,2016,-0.38144,0.131952,15,42.78846,32.21154,50.96154
30,Brazil,BRA,2017,-0.532073,0.124547,14,36.057693,24.51923,44.71154
30,Brazil,BRA,2018,-0.419696,0.118223,15,40.384617,29.326923,46.634617